.siteheader
{
 grid-area: h;   
 background-color: rgb(122, 122, 81);
}
.headert
{
    font-size: 200%;
    color:chartreuse;
    margin: 0 0 0 40%;
}

.isEntered{
    font-weight: bold;
    color: crimson;
}

