.wrapper
{
    display: grid;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: 150px 2000px;
    grid-template-rows: 60px 1000px 60px;
    grid-template-areas: 
    "h h"
    "n m"
    "f f";
    margin: auto auto;
}

.maincontent
{
grid-area:m;
background-color: rgb(219, 233, 228);
}

p {
    color: rgb(0, 0, 0);
    font-size: x-large;
}
