button {
    width: 60px;
    height: 45px;
  
}

.selected {
    background-color: rgb(234, 238, 213);
}

.navigation
{
 grid-area: n;
 background-color: rgb(155, 155, 192);
}


.navigation .active
{
    color:gold;
}
